.nmain {
    height: 10%;
    width: 100%;
    /* border: 20px solid rgba(255, 255, 255, 0.073); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.918);
    color: rgba(255, 255, 255, 0.767);
}


.ul1 {
    height: 100%;
    width: 20%;
    /* border: 2px solid red;  */
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.ul11{
    text-decoration: none;
    color: rgb(255, 141, 160);
}

.ul2 {
    height: 100%;
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: rgb(255, 141, 160);
}

.ul2 button {
    padding: 10px;
    background-color: rgb(255, 141, 160);
    color: white;
}

@media (max-width:900px){
    .ul1{
        font-size: 10px;
    }
    .ul2{
        width: 90%;
        font-size: 12px;
        justify-content: space-around;
    }
} 
@media (max-width:500px){
    .ul2{
        font-size: 8px;
        justify-content: space-around;
    }
    .ul2 button{
        padding: 5px;
        font-size: 8px;
    }
} 